SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=pathak.dhruv03@gmail.com
SMTP_PASS=
BOOK_DEMO_TO_EMAIL=pathak.dhruv03@gmail.com
BOOK_DEMO_CC_EMAIL=someone@example.com,another@example.com
BOOK_DEMO_FROM_EMAIL=Thumos Website <pathak.dhruv03@gmail.com>
